div{
  display: block;
  text-align: left;
}

#map-body{
  height: 600px;
}

#cy{
  width: 80%;
  height: 98%;
  margin-left: 130px;
  margin-right: 100px;
  border-bottom-width: medium;
}

canvas{
  border-bottom-width: medium;
}
