<div id="map-body">
  <div id="toolbar">
    <nz-radio-group [(ngModel)]="typeOfNewEdge" nzButtonStyle="solid">
      <label nz-radio-button nzValue="super-sub">父类-子类关系</label>
      <label nz-radio-button nzValue="pre-suc">前序-后序关系</label>
      <label nz-radio-button nzValue="synonym">同义词关系</label>
      <label nz-radio-button nzValue="antonym">反义词关系</label>
      <label nz-radio-button nzValue="ref">相关关系</label>
    </nz-radio-group>
  </div>
  <div id="cy"></div>
</div>

<ng-template #renameContent>
  <form>
    <div class="title item">请输入新的名字</div>
    <input type="text" [value]="nodeName">
  </form>
</ng-template>


